h3{
    color: darkgreen;
    text-align: center;
}
body{
    background-color: yellowgreen;
}
#get-quote{
    background-color: green;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0,4,10(lightblue,lightpink,lightblue);
}
p{
    text-align: center;
}
#container{
    border: 1px solid black;
    width: 98%;
    height: 150px;
    border-radius: 20px;
    
    padding: 10px;
    background-color:lightpink ;
    margin-top: 2%;
    text-align: center;
}
#top{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    border-radius: 20px;
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
}